<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
</head>
<body>
    <h1>{{ user.username }}'s Profile</h1>
    {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
    {% endif %}
    <p>Bio: {{ user.bio }}</p>
    <a href="{% url 'PDFBookApp:logout' %}">Выйти</a>

    <h2>Помеченные книги:</h2>
    <ul>
        {% for book in marked_books %}
            <li>
                <strong>{{ book.title }}</strong> by {{ book.author }}
                <a href="{{ book.file.url }}" download>Скачать</a>  <!-- Ссылка для скачивания книги -->
            </li>
        {% empty %}
            <li>У вас нет помеченных книг.</li>
        {% endfor %}
    </ul>
</body>
</html>
